# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*



**/node_modules
**/.env
**/.expo

# Firebase config
**/google-services.json
**/GoogleService-Info.plist


# Ignore all google-services.json files except the one in the correct location
android/app/google-services.json
!client/android/app/google-services.json

# Ignore all plist files except the one in the correct location
ios/TriviaApp/GoogleService-Info.plist
!client/ios/TriviaApp/GoogleService-Info.plist
